body {
    background-color: #212121;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40%;
}

#clock {
    margin-top: 15px;
    padding: 20px 70px;
    font-size: 30px;
    border-radius: 40px;
    background-color: darkgray;
    color: #212121;
}